.services-api-documentation ul.method-section .item-list h3 {
  font-size: 95%;
}

ul.method-arguments .required,
ul.method-arguments .required {
  color: red;
}

.services-api-documentation fieldset {
  overflow: scroll;
  background-color: white;
  width: 860px;
}
.services-api-documentation fieldset fieldset {
  width: 840px;
}
.services-api-documentation fieldset fieldset fieldset {
  width: 820px;
}

.services-api-documentation fieldset pre,
.services-api-documentation fieldset code {
  width: 95%;
  overflow: scroll;
  word-wrap: break-word;
}
